* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark_green: #1a4d2e;
  --medium_green: #4f6f52;
  --skin: #e8dfca;
  --light_skin: #f5efe6;
}

body {
  min-height: 100dvh;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--light_skin);
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}
textarea {
  width: 100%;
  border: none;
  resize: none;
}

header {
  padding: 1rem 0;
  max-width: 1204px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.1rem;
}

#book_search {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: inherit;
  font-weight: 600;
  border-radius: 4px;
  color: rgb(126, 125, 125);
  flex-grow: 1;
  background: lightgrey;
}
#book_add,
#submit_book {
  outline: none;
  border: none;
  padding: 1rem;
  font-size: inherit;
  font-weight: 600;
  border-radius: 4px;
  color: var(--light_skin);
  background: var(--dark_green);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
#book_add:hover {
  background: var(--medium_green);
}
main {
  flex-grow: 1;
  max-width: 1204px;
  width: 100%;
}

.input_box {
  width: 400px;
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  background: var(--skin);
}
.input_box > input,
textarea {
  margin: 1rem 0;
  display: block;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 1.1rem;
}

.hidden {
  display: none;
}
.visible {
  display: flex;
}

#modal {
  position: absolute;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.3);
}
#books_container {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.book_card {
  padding: 1rem;
  border-radius: 4px;
  width: 250px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
  background: #faf9f991;
  position: relative;
}

.deleteBtn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.5rem;
  border-radius: 2px;
  border: 1px solid red;
  color: red;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.deleteBtn:hover {
  background: red;
  color: var(--light_skin);
}

.book_title {
  margin: 0.5rem 0;
  color: darkslategrey;
}
.book_author {
  margin: 0.5rem 0;
  color: slategray;
}
.book_summary {
  margin: 0.5rem 0;
  color: gray;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  color: var(--skin);
  background: var(--dark_green);
  width: 100%;
}
@media (max-width: 450px) {
  header {
    display: block;
    text-align: center;
  }
  #book_add,
  #book_search {
    width: 90%;
    margin: 0.5rem 0;
  }
}
